<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17892490109-pjimotu9bonivtb3ud0lqhado15j7gmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17892490109-pjimotu9bonivtb3ud0lqhado15j7gmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAX_Z5bJz9Q8ns5SFjGZ_OwuYYj_BIje_M</string>
	<key>GCM_SENDER_ID</key>
	<string>17892490109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-b5b38</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-b5b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17892490109:ios:2453d780579c5066b4aa14</string>
</dict>
</plist>